<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue';
const num1 = ref(0)
function num1Click(num: number){
  console.log('Num1 Click: ' + num)
  // num1.value = num
}
</script>

<template>
  <div style="text-align: center;">
    <img style="width: 300px; margin: auto;" src="../assets/goku.png" alt="">
    <h3 style="text-align: center;">สวัสดีเราชื่อ ซง โกคู</h3>
    {{ num1 }}<NumberButton :num="1" @click="num1Click"></NumberButton>
    <NumberButton :num="2"></NumberButton>
    <NumberButton :num="3"></NumberButton>

  </div>
  
  
</template>
