<script setup lang="ts">
import { onMounted, ref } from 'vue';
interface Props {
    num: number
    inc?: number //Optional

}
const prop = withDefaults(defineProps<Props>(), {
    inc:1
})

const emit = defineEmits<{
    numClick: [num: number]
}>()
const _num = ref(prop.num)
const doInc = () =>{
    _num.value = _num.value + prop.inc
    emit('numClick', _num.value)
}
onMounted(() => {
    console.log(prop.num)
})

</script>
<template>
    <button @click="doInc()">{{ _num }}</button>
</template>